<header>
  <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            aria-expanded="false" aria-controls="navbarsExampleDefault"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault"
         [ngbCollapse]="!isCollapsed">
      <input *ngIf="router.url === '/browse'" #searchInput
             (keydown)="searchTerm($event, searchInput.value)" id="searchInput"
             name="name" class="form-control form-control-lg"
             type="search" placeholder="Nombre de una peli... + Enter">
    </div>
    <button type="button" *ngIf="router.url !== '/browse'"
            (click)="goBrowse()" class="navbar-brand btn btn-lg btn-warning">
      Go to browser
    </button>
    <button type="button" *ngIf="router.url !== '/readme'"
            (click)="goReadme()" class="navbar-brand btn btn-lg btn-warning">
      Read me
    </button>
  </nav>
</header>

<app-browse *ngIf="router.url === '/browse'"></app-browse>

<app-readme *ngIf="router.url === '/readme'"></app-readme>
